* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  background: rgb(27, 27, 31);
}

.webgl {
  position: fixed;
  top: 0;
  right: 0;
  outline: none;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
  margin: 16em 8em;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.3rem;
  width: 55%;
  color: rgb(107, 107, 122);
  margin-bottom: 1em;
}

button {
    background: grey;
    border: none;
    outline: none;
    padding: 2em;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: .3em;
    font-size: .9rem;
    cursor: pointer;
    border-radius: 25px;
  }